 {% load staticfiles %}
 <!DOCTYPE html>
<html>
<head>
	<title>EasyShare@IITBHU Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

 	{% block add_static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
	{% endblock add_static %}
</head>
<body>
	{% block navbar %}
			{% include "navbar_before_login.html" %}
	{% endblock navbar %}
	
	
	{% include "messages_display.html" %}
	
	<div class="container">
	{% block content %}
		
	{% endblock content %}
	</div>
	<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="aboutus.html">About Us</a><br>
				<a href="faq.html">FAQ</a><br> 
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="login.html">Login</a><br>
				<a href="signup/">Sign Up</a><br> 
				
			</div>
		</div>

	</div>

</footer>	

</body>
</html>
