 {% load staticfiles %}
 <!DOCTYPE html>
<html>
<head>
	<title>EasyShare@IITBHU Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

 	{% block add_static %}
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>

 	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
	{% endblock add_static %}
</head>
<body>
	{% block navbar %}
			{% include "navbar_before_login.html" %}
	{% endblock navbar %}
	
	
	{% include "messages_display.html" %}
	
	<div class="container">
	{% block content %}
		
	{% endblock content %}
	</div>
	<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="/aboutus/">About Us</a><br>
				<a href="/faq/">FAQ</a><br> 
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="/login">Login</a><br>
				<a href="/signup/">Sign Up</a><br> 
			</div>
		</div>

	</div>

</footer>	
{% block afterbody %}
	
{% endblock afterbody %}
</body>
</html>
