{% extends "base.html" %}

{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}
{% endblock navbar %}

{% block content %}
<div class="container siteForm">
	<h2>Enter details of your new Post!</h2>
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<form role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<input class="form-control FormElement" type="text" name="item_title" required="True" placeholder="What is this post about or What do you wish to sell?">
				</div>
				<div class="form-group">
					<textarea class="form-control FormElement" name="item_disc" required="True" placeholder="Describe your post" rows="6"></textarea>
				</div>
				<div class="form-group" style="text-align:center;">
				 <label for="category">Choose category</label>
				  <select class="form-control" id="category" name="item_category">
				    {% for key,value in category.iteritems %}
					<option>{{ value }}</option>					
					{% endfor %}
				  </select>
					<!--<input class="form-control FormElement" type="text" name="item_category" required="True" placeholder="Choose your category"><-->
				</div>
				<div class="form-group">
						<div class="panel panel-default">
							<div class="panel-heading">Upload the concerned image</div>
							<div class="col-lg-4"></div>
							<div class="col-lg-4">			
								<div class="panel-body"><div><input type="file" class="form-control" name="item_image" required="True"></div></div>
							</div>
						</div>
				</div><br>
				<div class="form-group">
					<input class="form-control FormElement" type="number" name="item_price" required="True" placeholder="Enter Price">
				</div>
				<div class="buttonAlign">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>	
		</div>
	</div>
{% endblock content %}