<!DOCTYPE html>
<html>
<head>
	<title>EasyShare@IITBHU Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">EasyShare@IITBHU</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    	    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li></li>
	    	    <li><a href="faq.html"><span class="glyphicon glyphicon-info-sign"></span>  
	    	     FAQ</a></li>
	    	    <li><a href="about.html"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
	</nav>

<div class="container siteForm">

	<h2>Enter details of your new Post!</h2>
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<form role="form" action="" method="get">
				<div class="form-group">
					<input class="form-control FormElement" type="text" name="item_title" required="True" placeholder="What is this post about or What do you wish to sell?">
				</div>
				<div class="form-group">
					<textarea class="form-control FormElement" name="item_disc" required="True" placeholder="Describe your post" rows="6"></textarea>
				</div>
				<div class="form-group" style="text-align:center;">
				 <label for="category">Choose category</label>
				  <select class="form-control" id="category" name="item_category">
				    <option>Cate 1</option>
				    <option>Cate 2</option>
				    <option>Cate 3</option>
				    <option>Cate 4</option>
				  </select>
					<!--<input class="form-control FormElement" type="text" name="item_category" required="True" placeholder="Choose your category"><-->
				</div>
				<div class="form-group">
						<div class="panel panel-default">
							<div class="panel-heading">Upload the concerned image</div>
							<div class="col-lg-4"></div>
							<div class="col-lg-4">			
								<div class="panel-body"><div><input type="file" class="form-control" name="item_image" required="True"></div></div>
							</div>
						</div>
				</div><br>
				<div class="form-group">
					<input class="form-control FormElement" type="number" name="item_price" required="True" placeholder="Enter Price">
				</div>
				<div class="buttonAlign">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>	
		</div>
	</div>

</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="aboutus.html">About Us</a><br>
				<a href="faq.html">FAQ</a><br> 
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="login.html">Login</a><br>
				<a href="signup.html">Sign Up</a><br> 
				
			</div>
		</div>

	</div>

</footer>	


</body>
</html>
