{% extends "base.html" %}
{% block add_static %}
	{{ block.super }}
	<link rel="stylesheet" href="../static/css/style1.css" type="text/css"/>
{% endblock add_static %}
{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}

{% endblock navbar %}

{% block content %}
<div class="container">
<div class="main">

<article>
  <header class="knowledge-page-header">
    <h2 style="color:#009688;font-family:Lucida Console;"> Frequently Asked Questions (FAQs)</h2>
  </header>
 <!-- <div class="clearfix"></div> -->
    <div class="article-bm">
      <p><strong>How do I Sell my Items faster?</strong></p>
<p>ES@IITV can help you sell your items faster through our <strong>"sell through add Service"</strong>.Here you can <strong>Post a add </strong>regarding the item you want sell.For more queries contact us <a href="">here</a>&nbsp;about how we can help you sell your items quickly with our exciting <strong>sell through add service</strong></p>
<hr />
<p><strong>Will ES@IITV request for my account details especially my password?</strong></p>
<p>ES@IITV will never request for the password to your account on our website. Please beware of anyone posing as an ES@IITV Staff or Agent requesting for your password. Kindly protect the password to your ES@IITV account and do not share this information with anyone. As soon as you are contacted by anyone requesting this information, please inform us by calling us on&nbsp; XXXXXXXXXX or send a message to an admin</p>
<hr />
<p><strong>Will anyone able to see my ad if it is removed from main page?</strong></p>
<p>Yes everyone who searches for your product will eventually gets the search results related to your.You can see search results for your product <a href="">here</a></p>
<hr />
<p><strong>Is it possible for ES@IITV to help me find an item I want to buy?</strong></p>
<p>You can buy many products within any of our different categories. So if you are looking for an item to buy through online and your schedule means you are quite busy or don't have the time to browse the thousands of ads on the website, we can do this for you conveniently! Just go through our <strong>Search and get </strong> service&nbsp; search for your product and get it free or on efficient amount nearby your hostel</p>
<hr />
<p><strong>Why does the site look different?</strong></p>
<p>This site will provide you the exact product that you want to buy or borrow,even it is too useful regarding "finding a book in library",these site will provide updates regarding each book present in library</p>

<p>Hope you have a pleasant experience buying and selling !</p>
<hr />
<p><strong>Why cant I find all the images I posted along with my ad?</strong></p>

<p>It is important that the images posted are directly relevant to the ad(s) posted and conform with our terms of use at ES@IITV. We are sorry for any inconvenience caused but images which fall in the under-listed category will be removed from ads posted:</p>
<ul>
<li>Images of children</li>
<li>Images portraying nudity</li>
<li>Watermarked Images</li>
<li>Images with third party website address / URL</li>
</ul>
<hr />
<p><strong>What if anyone posts disturbing post on our site?</strong></p>

<p>His account will be eventually "deactivated".</p>
<hr />
<p><strong>Is it possible to edit my post?</strong></p>


<p>The ads posted on our platform matter a lot to us. so in case if someone gets attracted by your ad and he/she wants to buy/borrow that item just because you have posted some title and description.so it wont be possible to edit your post again</p>
<hr />
<p><strong>Why was my ad deleted </strong><strong><em>(high Price)</em></strong></p>
<p>Your ad may have been deleted because the price quoted is more than above its expected value.So Please post your ads according to conditions.</p>
<hr />
<p><strong>Why was my account deactivated</strong><strong><em>(Multiple posts of same item)</em></strong></p>
<p>IF in case you are posting lots of add regaring the same item then unfortunately we have to deactivate your account</p>
<p>&nbsp;</p>
    </div>
 
  

<!--  <div class="clearfix"></div> -->
</article>
  </div>
</div> 
{% endblock content %}