<!DOCTYPE html>
<html>
<head>
	<title>EasyShare@IITBHU Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/style1.css" type="text/css"/>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">EasyShare@IITBHU</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    	    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li></li>
	    	    <li><a href="faq.html"><span class="glyphicon glyphicon-info-sign"></span>  
	    	     FAQ</a></li>
	    	    <li><a href="about.html"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
	</nav>
</div>
<div class="container-fluid">
<div class="form";> 
<h1 style="color:#009688;font-family:Lucida Console;">Feedback</h1>
  <form>
    <div class="form-group">
      <label for="prov">Any improvements required:</label>
      <input type="improvement" class="form-control" id="email" placeholder="Your Response">
    </div>
    <div class="form-group">
      <label for="comp">Complain If Any:</label>
      <input type="complain" class="form-control" id="pwd" placeholder="Your Response">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember my Feedback</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>

</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="aboutus.html">About Us</a><br>
				<a href="faq.html">FAQ</a><br> 
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="login.html">Login</a><br>
				<a href="signup.html">Sign Up</a><br> 
				
			</div>
		</div>

	</div>
	
</footer>


</body>
</html>
