<!DOCTYPE html>
<html>
<head>
	<title>Guidelines</title>
	
	
	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../static/css/guideCss.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body class="body">
<div class="container" >
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">BUY/SELL/SHARE</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="signup.php"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    	    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    	    <li><a href="contact.php"><span class="glyphicon glyphicon-phone-alt"></span>  
	    	     Contact Us</a></li>
	    	    <li><a href="about.php"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
	</nav>
</div>

	<center><h1 class="heading1">GUIDELINES</h1></center>
	
	<ul class="para1">
		<li><p1 >This is a part of the official IIT-BHU site, content posted and shared in here are strictly checked and supervised.</p1></li>
		<li><p1>Please check through your post and comment on this site, any violation of following rules will be dealt strictly and may lead to suspension of student.</p1></li>
		<li><p1>This is a public site, any personal or commercial use of this is not allowed.</p1></li>
		<li><p1>Buy and sell of only stuffs related to institute and student's life is allowed</p1></li>
		<li><p1>Post should be product specific and to the point.</p1></li>
		<li><p1>See throught your comments and conversation with others, it will be closely monitered.</p1></li>
		<li><p1>Please maintain the decorum of this portal and make the best use of this.</p1></li>
		
	</ul>	
	<br>
	<center><a  href="index.html" ><input class="BackButton" type="button" value="Home Page"></a></center>
</body>
</html>



