{% extends "base.html" %}

{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}

{% endblock navbar %}


{% block content %}
	<div class="container-fluid">
	<div class="row">
		<div class="container-fluid searchbox">
			<div align="center">
				<form class="navbar-form" role="search" action="">
						<div class="input-group">
						<input type="text" class="form-control input-lg" placeholder="Search" name="search_query">
						<div class="input-group-btn">
						<button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>
	{% if user %}
		<div class="row">
		<div class="col-lg-12" align="center">
			<a href="createPost.html">
			<button class="btn btn-primary btn-lg"> Want to sell something? Click here. </button></a>
		</div>
		</div>
	{% endif %}
	<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">ALL CATEGORIES</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p>
				<p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p><p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p>
			</div>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading">RECENT POSTS</div>
			<div class="panel-body">
				<div class="row">
					  <div class="col-md-6">
					    <div class="thumbnail">
					      <img src="../static/images/image2.jpg" alt="No image uploaded">
					      <div class="caption">
					        <h3 align="center">atdelectus ducimus necessitatib</h3>
					        <p align="justify">LLorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor...</p>
					        <p align="center"><a href="#" class="btn btn-primary" role="button">View Post</a></p>
					      </div>
					    </div>
					  </div>
				
					  <div class="col-md-6">
					    <div class="thumbnail">
					      <img src="../static/images/image1.jpg" alt="No image uploaded">
					      <div class="caption">
					        <h3 align="center">atdelectus ducimus necessitatib</h3>
					        <p align="justify">LLorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor...</p>
					        <p align="center"><a href="#" class="btn btn-primary" role="button">View Post</a></p>
					      </div>
					    </div>
					  </div>
				</div>
				<div class="row">
					  <div class="col-md-6">
					    <div class="thumbnail">
					      <img src="../static/images/image1.jpg" alt="No image uploaded">
					      <div class="caption">
					        <h3 align="center">atdelectus ducimus necessitatib</h3>
					        <p align="justify">LLorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor...</p>
					        <p align="center"><a href="#" class="btn btn-primary" role="button">View Post</a></p>
					      </div>
					    </div>
					  </div>
				
					  <div class="col-md-6">
					    <div class="thumbnail">
					      <img src="../static/images/image1.jpg" alt="No image uploaded">
					      <div class="caption">
					        <h3 align="center">atdelectus ducimus necessitatib</h3>
					        <p align="justify">LLorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciy orem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor Consequatdel...</p>
					        <p align="center"><a href="#" class="btn btn-primary" role="button">View Post</a></p>
					      </div>
					    </div>
					  </div>
				</div>	
				<div class="row">
					  <div class="col-md-6">
					    <div class="thumbnail">
					      <img src="../static/images/image1.jpg" alt="No image uploaded">
					      <div class="caption">
					        <h3 align="center">atdelectus ducimus necessitatib</h3>
					        <p align="justify">LLorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently orem ipsum dolor...</p>
					        <p align="center"><a href="#" class="btn btn-primary" role="button">View Post</a></p>
					      </div>
					    </div>
					  </div>
				</div>	
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock content  %}