<!DOCTYPE html>
<html>
<head>
	<title>EasyShare@IITBHU Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="max-width=device-max-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 	<link rel="stylesheet" href="../static/css/style1.css" type="text/css" media="all">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">EasyShare@IITBHU</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    	    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li></li>
	    	    <li><a href="faq.html"><span class="glyphicon glyphicon-info-sign"></span>  
	    	     FAQ</a></li>
	    	    <li><a href="about.html"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
	</nav>
</div>
<div class="container" >
	<div class="jumbotron text-center">
  <h1 style="font-family:Lucida Console;">ITem NAme</h1>
  <hr />
  <p>Category : Book</p>
</div>
</div>
<div class="container">
<div class="row">
  


  <div class="col-md-6 ">
    <div class="thumbnail">
      
      <div class="caption">
        <h2 style="font-family:Lucida Console;color:#006672;">Library Status</h2>
		<hr style="color:blue;"/>
          <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Book Avialibility Status :</div>
      <div class="panel-body">Yes</div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Number of books:</div>
      <div class="panel-body">5</div>
    </div>

    
</div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="thumbnail">
      
      <div class="caption">
        <h2 style="color:#006672;font-family:Lucida Console;">Owners</h2>
		<hr style="color:blue;"/>
		
  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Shivam Rajput</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Divesh Pandey</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">Sujal Maheshwari</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Vishal kumar</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">abc</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">xyz</div>
      <div class="panel-body"><a href="">view profile</a></div>
    </div>
</div>
  </div>
  </div>
</div>
</div>
<p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Back To Search Results</a></p>
</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="aboutus.html">About Us</a><br>
				<a href="faq.html">FAQ</a><br> 
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="login.html">Login</a><br>
				<a href="signup.html">Sign Up</a><br> 
				
			</div>
		</div>

	</div>

</footer>	

</body>
</html>