<nav class="navbar navbar-inverse">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">EasyShare@IITBHU</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li></li>
	    	    <li><a href="/faq/"><span class="glyphicon glyphicon-info-sign"></span>  
	    	     FAQ</a></li>
	    	    <li><a href="/about/"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
</nav>