{% extends "base.html" %}

{% block add_static %}
	{{ block.super }}
	<link href="../static/css/profileStyle.css" rel="stylesheet" type="text/css">
	<script src="../static/js/profileFunc.js"></script>

{% endblock add_static %}

{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}

{% endblock navbar %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-md-12">
	
		<center><h class="heading">User Profile</h></center>
		<br>
		<br>
</div>
</div>
<div class="row">
 <div class="col-md-2">
 <!-- this column will hold the login form -->
 </div>	
 <div class="col-md-8"> 
		
		<fieldset>
			<legend> Basic Information</legend>
			
			{% if chat_link_user %}
					<a href="{{ chat_link_user.get_chat_URL }}"><button class="btn btn-primary btn-block">Chat with {{ profile_user.name }}</button></a><br>
			{% endif %}
			
			<form>
			
			<div class="row">
					
			<div class="col-md-12" align="center">
				<td><img height="200px" src="{{ profile_user.image.url }}" alt = "No image available"></img></td>
				
				
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				
				<form>
				
				
			</div>	
			<div class="col-md-1">
			</div>

			<div class="col-md-2">
			
			
			</div>
			</div>
			
			<br>
			<br>
			
			<div class="row">
			
			
			<div class="form-group">
			<div class="col-md-2">
			
				
					<label for="name">Name:</label>
				
			</div>
			
			<div class="col-md-10">
			
				
				
				<input type="text" name="name" value="{{ profile_user.name }}" class="form-control" id="exampleInputText1" readonly>
				
			</div>	
			</div>	
			<div class="col-md-4">
			
			
			</div>
			</div>
			<br>
			<br>
			
			<div class="row">
			<div class="form-group">
			<div class="col-md-2">
			
			<label for="Department">Department:</label>
			
			</div>
			<div class="col-md-10">
			
			<input type="text" name="Department" value="{{ profile_user.department }}" class="form-control" id="exampleInputText1" readonly >
			
			</div>
			</div>
			<div class="col-md-4">
			
			
			</div>
			</div>
			
			<br>
			<br>
			
			<div class="row">
			<div class="form-group">
			<div class="col-md-2">
			
			<label for="batch">Batch:</label>
			
			</div>
			<div class="col-md-10">
			
			<input type="text" name="batch" value="{{ profile_user.batch }}" class="form-control" id="exampleInputText1" readonly>
			
			</div>
			</div>
			<div class="col-md-4">
			</div>
			
			</div>
			
			<br>
			<br>
			
			<div class="row">
			<div class="form-group">
			<div class="col-md-2">
			
			<label for="address">Address:</label>
			
			</div>
			<div class="col-md-10">
			
			<input type="text" name="address" value="{{ profile_user.address  }}" class="form-control" id="exampleInputText1" readonly>
			
			</div>
			</div>
			<div class="col-md-4">
			</div>
			
			</div>
			
			<br>
			<br>
			
			<div class="row">
			<div class="form-group">
			<div class="col-md-2">
			
			<label for="mobile">Mobile:</label>
			
			</div>
			<div class="col-md-10">
			
			<input type="text" name="mobile" value="{{ profile_user.contact }}" class="form-control" id="exampleInputText1" readonly>
			
			</div>
			</div>
			<div class="col-md-4">
			</div>
			
			</div>
			
			<br>
			<br>
			
			<div class="row">
			<div class="form-group">
			<div class="col-md-2">
			
			<label for="email">Email</label>
			
			</div>
			<div class="col-md-10">
			
			<input type="email" name="email"  class="form-control" id="exampleInputEmail1" value="{{ profile_user.user_id }}" readonly>
			
			</div>
			</div>
			<div class="col-md-4">
			</div>
			
			</div>
			
			<br>
			<br>		
			</form>
			
		</fieldset>
</div>
<div class="col-md-2">
 <!-- this column will hold the login form -->
 </div>
</div> 
		
		<br>
		<br>

</div>	
<hr>
</div>	
{% endblock content %}