{% extends "base.html" %}
{% block content %}
	<div class="container siteForm">
		<h2>Please Sign Up Here</h2>
		<div class="row">
			<div class="col-lg-6">
				<img class="img-responsive" src="../static/images/signUpImage.jpg" alt="Image can't be displayed" >
			</div>
			<div class="col-lg-6">
				<form role="form" action="" method="post">{% csrf_token %}
					<div class="form-group">
						<input class="form-control FormElement" type="text" name="userName" required="True" placeholder="Your Name">
					</div>
					<div class="form-group">
						<input class="form-control FormElement" type="email" name="userEmail" required="True" placeholder="Email">
					</div>
					<div class="form-group">
						<input class="form-control FormElement" type="password" name="userPasswd" required="True" placeholder="Password">
					</div>
					<div class="form-group" >
						<input class="form-control FormElement " type="number" name="userContact" required="True" placeholder="Contact Number">
					</div>
				
					<div class="form-group">
						<input class="form-control FormElement" name="userAddress" required="True" placeholder="Address"> 
					</div>
					<div class="buttonAlign">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
					</div>
				</form>	
			</div>
		</div>

	</div>
{% endblock content %}