body{
	padding-top: 230px;
}
.navbar .main_image{
	background: url("../images/IIT_BHU.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 175px;    
}

#wrap{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);

}
#wrap >img{
	max-width: 100px;
	max-height: 100px;
}

.navbar .main_image .heading{
	position: absolute;
	top: 140px; 
 	text-align: center;
    font-size: 20px;
    color: #fff;
	width: 100%;
	line-height: 0.8;
    
}
.navbar .container-fluid{
	background-color: #931A1A
}
