body{
	padding-top: 0px;
	background-color: #FFA59C
}
a:link{
	color:#fff;
}
.navbar .main_image{
	background: url("../images/IIT_BHU.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 175px;    
}

#wrap{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);

}
#wrap >img{
	max-width: 100px;
	max-height: 100px;
}

.navbar .main_image .heading{
	position: absolute;
	top: 140px; 
 	text-align: center;
    font-size: 20px;
    color: #fff;
	width: 100%;
	line-height: 0.8;
    
}
.navbar .container-fluid{
	background-color: #931A1A
}
.container-fluid .row .panel .panel-body{
	text-align: left;
}
.container-fluid .row .panel-default .panel-heading{
	text-align: center;
	background-color: #931A1A;
	color: #fff;
}
.container-fluid .row{
	margin-top: 50px;
	margin-bottom: 50px;
}
.recentPosts {
	margin-top: 5px;
}
#recentPosts-heading{
	background-color: #FF4040;
	text-align: left;
}
.footer{
	color: #fff;
	margin-bottom: 0px;
	background-color: #931A1A;
}