<!DOCTYPE html>
<html>
<head>
	<title>BUY/SELL/SHARE Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="main_image">
			<div id="wrap">
				<img class="image" src="../static/images/IITBHUlogo.png">
			</div>
			<p class="heading">Indian Institute of Technology (BHU), Varanasi</p>
		</div>
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">BUY/SELL/SHARE</a>
	    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cNav">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
	    	</div>
	    	<div class="collapse navbar-collapse" id="cNav">
	    	<ul class="nav navbar-nav navbar-right">
	    	    <li><a href="signup.php"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    	    <li><a data-toggle="modal" data-target="#logInId"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    	    <li><a href="contact.php"><span class="glyphicon glyphicon-phone-alt"></span>  
	    	     Contact Us</a></li>
	    	    <li><a href="about.php"><span class="glyphicon glyphicon-tasks"></span> About Us</a></li>
	    	</ul>
	    	</div>
	    </div>
	</nav>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="container-fluid searchbox">
			<div align="center">
				<form class="navbar-form" role="search" action="">
						<div class="input-group">
						<input type="text" class="form-control input-lg" placeholder="Search" name="search_query">
						<div class="input-group-btn">
						<button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-13" align="center">
			<a href="createPost.html">
			<button class="btn btn-default btn-lg"> Want to sell something ? Click here. </button></a>
		</div>
	</div>
	<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">ALL CATEGORIES</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p>
				<p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p><p>Lorem ipsum dolor sit amet
				<p>Ad dolore dignissimos asperiores dicta facere</p>
				<p>Tenetur quod quidem in voluptatem</p>
				<p>Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p>
			</div>
		</div>
	</div>
	<div class="col-lg-9">	
		<div class="panel panel-default">
			<div class="panel-heading">RECENT POSTS</div>
			<div class="panel-body">
				<div class="panel recentPosts">
				<div class="panel-heading" id="recentPosts-heading">atdelectus ducimus necessitatib</div>
				<div class="panel-body">Lorem ipsum dolor Consequatdelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recently entered into an agreement to share transactions data. Barcllays will share all transaction data done on their credit card on any retail store. Metrro will share all transaction done by any credit card on their stores. You wish to use this data to track where are your high value customers shopping other than Metrro.doloremque commodi laudantium ad nulla vel odio? dolor sit amet tempora unde earum doloremque commodi laudantium ad nulla vel odio?Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?sit amet</div></div>
				<div class="panel recentPosts">
				<div class="panel-heading" id="recentPosts-heading" >atdelectus ducimus necessitatib</div>
				<div class="panel-body">Lorem ipsum Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio? dolor sit amet</div></div>
				<div class="panel recentPosts">
				<div class="panel-heading" id="recentPosts-heading" >atdelectus ducimus necessitatib</div>
				<div class="panel-body">Lorem ipsum Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum owner of Metrro cash n carry. Metrro has a tie up with Barcllays bank to launch co-branded cards. Metrro and Barcllay have recently entered into an agreement to share transactions data. Barcllays will share all transaction data done on their credit card on any retail store. Metrro will share all transaction done by any credit card on their stores. You wish to use this data to track where are your high value customers shopping other than Metrro.doloremque commodi laudantium ad nulla vel odio? dolor sit amet</div></div>
				<div class="panel recentPosts">
				<div class="panel-heading" id="recentPosts-heading" >atdelectus ducimus necessitatib</div>
				<div class="panel-body">Lorem ipsum Consequatdelectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio? dolor sit amet</div></div>
				
			</div>
		</div>

	</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3 >Information</h3>
				<a href="about.php">About Us</a><br>
				<a href="contact.php">Contact Us</a><br>
				
			</div>
			<div class="col-lg-6">
				<h3>My Account</h3>
				<a href="login.html">Login</a><br>
				<a href="signup.php">Sign Up</a><br>
				
			</div>
		</div>

	</div>
	
	</footer>
</footer>	


</body>
</html>
